@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(40 42 45);
    font-family: "Roboto", sans-serif;
}

header,
footer,
menu,
.cont {
    display: inherit;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    color: #5d7a65;
    font-size: 40px;
}

h2 {
    border-bottom: 1px solid;
    display: inline-block;
    width: 25%;
    padding: 1%;
}

h2 i {
    margin: 0 27px 0 0;
}

.bx-inPrf{
    position: absolute;
    right: 65px;
    top: 55px;
    color: #acabab;
}

.bx-inPrf P{
    margin: 0;
    font-size: 11px;
}
.menu {
    width: 5%;
    float: left;
    line-height: 58px;
}

.conte {
    width: 93%;
    padding: 5px 2%;
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    border-radius: 12px;
    margin: auto;
}

.bx-ini-sc{
    min-height: 50vh;
}

.bx-ini-sc .col-6{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bx-ini-sc .col-6 h6{
    margin: 0;
}

.bx-ini-sc .col-6 form{
    display: flex;
    flex-direction: column;
}

.bx-ini-sc .col-6 form input{
    border-radius: 10px;
    border: none;
    padding: 1% 4%;
}

.bx-ini-sc .col-6 form input:focus{
    outline: 1px solid #5d7a65;
}
.bx-ini-sc .col-6 form input[type="submit"]{
    border-radius: 5px;
    width: 50%;
    margin: 9% auto;
    color: white;
    padding: 0;
}

.msjErr{
    color: #d00;
    margin: 2% auto;
    font-size: 12px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li a i {
    color: rgb(255, 255, 255);
    transition: all 400ms;
    font-size: 25px;
}

nav ul li a:hover i {
    color: #65a677;
    transform: scale(1.2);
}

nav ul li:nth-child(4) a{
    color: rgb(255, 255, 255);
    transition: all 400ms;
    font-size: 18px;
}

nav ul li:nth-child(4) a i:hover{
    color: #db5757;
    transform: scale(1.1);
}
.btn-add {
    position: absolute;
    right: 60px;
    top: 171px;
    cursor: pointer;
    transition: all 400ms;
}

.btn-add:hover {
    transform: scale(1.5);
}

#example {
    margin-top: 5%;
}

#ins {
    overflow: hidden;
    transition: all 1s ease-out;
    height: 0;
}

textarea {
    resize: none;
}

.btn-act {
    margin: 0 4%;
    color: #65a677;
}

.btn-act:hover {
    color: #5d7a65;
}

input[type="submit"] {
    background: #65a677;
    border: none;
}

input[type="submit"]:hover {
    background: #5d7a65;
}

footer h6 {
    padding: 10px 0;
    font-size: 11px;
    color: gray;
}

@media screen and (max-width: 900px){
    .conte h2 {
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    .menu {
        float: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 15%;
    }

    .conte {
        margin: auto;
        overflow: auto;
    }

    .conte h2 {
        width: 70%;
    }
    .btn-add {
        right: 45px;
        top: 226px;
    }
}

@media screen and (max-width: 768px){
    .btn-add{
        right: 38px;
        top: 220px;
    }
}